<div class="flex flex-col items-center justify-center">
    {% include 'secciones/instrucciones_4.html' %}
    <div class="bg-gray-100 shadow-lg rounded-lg p-8 max-w-lg text-center">
        <h1 class="text-4xl font-bold mb-4 osasuna-camisetas-font">Sorteo completado</h1>
        <a href="{% url 'main_app:descargar_csv_sorteo' %}" class="inline-block bg-rojoosasuna text-white font-bold py-2 px-4 rounded">
            Descargar CSV
        </a>
        <a href="{% url 'main_app:descargar_pdf_sorteo' %}" class="inline-block bg-azulosasuna text-white font-bold py-2 px-4 rounded">
            Descargar PDF
        </a>
    </div>
</div>