<div class="bg-white p-4 rounded-lg shadow-lg w-2/3 mb-4">
    <div class="text-center">
            <p class="text-red-500 text-lg font-semibold">Parte 3 del sorteo</p>
            <p class="text-gray-600 mt-2">El sistema ha procesado el CSV y ha generado los participantes{% if total_participantes %}, habiendo un total de {{ total_participantes }} participantes{% endif %}. Pueden comprobarse los datos en las secciones apropiadas en la barra superior.</p>
            <p class="text-gray-600 mt-2">En la sección inferior se puede pulsar el botón "Realizar sorteo" para generar los resultados del sorteo y obtener a los participantes seleccionados.</p>
    </div>
</div>
