<div class="bg-white p-4 rounded-lg shadow-lg w-2/3 mb-4">
    <div class="text-center">
            <p class="text-red-500 text-lg font-semibold">Parte 2 del sorteo</p>
            <p class="text-gray-600 mt-2">El archivo está correctamente almacenado en el sistema, pero no se ha procesado y aún no hay participantes en el sistema. En la sección inferior se puede pulsar el botón </p>
            <p class="text-gray-600 mt-2">En la sección inferior se puede pulsar el botón "Procesar CSV y generar participantes" para analizar el archivo y obtener los participantes del sorteo.</p>
    </div>
</div>
