<div class="container mx-auto py-8 w-2/3">
    <div class="flex justify-center">
        <h1 class="text-5xl font-bold p-2 mb-6 osasuna-camisetas-font text-left">Parte 4 del sorteo</h1>
    </div>
    <p class="text-gray-600 mt-2">El sorteo ya ha sido realizado y los participantes seleccionados pueden consultarse en las secciones apropiadas de el menú lateral.</p>
    <p class="text-gray-600 mt-2">En la sección inferior se pueden descargar dos archivos: un archivo CSV en formato similar al utilizado inicialmente, pero con información añadida sobre el resultado final del sorteo, y un informe en formato PDF con la información relevante del sorteo.</p>
</div>