<div class="container mx-auto py-8 w-2/3">
    <div class="flex justify-center">
        <h1 class="text-5xl font-bold p-2 mb-6 osasuna-camisetas-font text-left">Parte 1 del sorteo</h1>
    </div>
    <p class="text-gray-600 mt-2">Para comenzar con el sorteo, se necesita la lista de participantes. Dicha lista ha de ser provista en formato CSV con el diseño acordado de 4 columnas: Millar, posición en millar, número de socio y nombre+apellidos.</p>
    <p class="text-gray-600 mt-2">En la sección inferior se puede subir el archivo que contiene los participantes seleccionando el botón Seleccionar CSV. Ello abrirá una ventana de selección de archivos, donde se seleccionará el archivo previamente preparado. Una vez hecho, pulsar el botón de Subir CSV.</p>
</div>
