<div class="bg-white p-4 rounded-lg shadow-lg w-2/3 mb-4">
    <div class="text-center">
            <p class="text-red-500 text-lg font-semibold">Parte 4 del sorteo</p>
            <p class="text-gray-600 mt-2">El sorteo ya ha sido realizado y los participantes seleccionados pueden consultarse en las secciones apropiadas de la barra superior.</p>
            <p class="text-gray-600 mt-2">En la sección inferior se pueden descargar dos archivos: un archivo CSV en formato similar al utilizado inicialmente, pero con información añadida sobre el resultado final del sorteo, y un informe en formato PDF con la información relevante del sorteo.</p>
    </div>
</div>
