<div class="container mx-auto py-8 w-2/3">
    <div class="flex justify-center">
        <h1 class="text-5xl font-bold p-2 mb-6 osasuna-camisetas-font text-left">Parte 2 del sorteo</h1>
    </div>
    <p class="text-gray-600 mt-2">El archivo está correctamente almacenado en el sistema, pero no se ha procesado y aún no hay participantes en el sistema. En la sección inferior se puede pulsar el botón </p>
    <p class="text-gray-600 mt-2">En la sección inferior se puede pulsar el botón "Procesar CSV y generar participantes" para analizar el archivo y obtener los participantes del sorteo.</p>
</div>
