<div class="container mx-auto py-8 w-2/3">
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    {% if not_millar %}
                    {% else %}
                        <th class="py-3 px-6 text-left">Millar</th>
                    {% endif %}
                    <th class="py-3 px-6 text-left">Posición Millar</th>
                    <th class="py-3 px-6 text-left">Nº Socio</th>
                    <th class="py-3 px-6 text-left">Nombre y Apellidos</th>
                    <th class="py-3 px-6 text-left">Ganador</th>
                    <th class="py-3 px-6 text-left">Reserva</th>
                    <th class="py-3 px-6 text-left">1ª</th>
                    <th class="py-3 px-6 text-left">2ª</th>
                    <th class="py-3 px-6 text-left">3ª</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for participante in participantes %}
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    {% if not_millar %}
                    {% else %}
                        <td class="py-3 px-6 text-left whitespace-nowrap">{{ participante.millar }}</td>
                    {% endif %}
                    <td class="py-3 px-6 text-left">{{ participante.posicion_millar }}</td>
                    <td class="py-3 px-6 text-left">{{ participante.numero_socio }}</td>
                    <td class="py-3 px-6 text-left">{{ participante.nombre_y_apellidos }}</td>
                    <td class="py-3 px-6 text-left">
                        {% if participante.ganador is None %}
                            No se ha sorteado
                        {% elif participante.ganador %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="py-3 px-6 text-left">
                        {% if participante.reserva_tercera_fase is None %}
                            No se ha sorteado
                        {% elif participante.reserva_tercera_fase %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="py-3 px-6 text-left">
                        {% if participante.ganador_primera_fase is None %}
                            No se ha sorteado
                        {% elif participante.ganador_primera_fase %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="py-3 px-6 text-left">
                        {% if participante.ganador_segunda_fase is None %}
                            No se ha sorteado
                        {% elif participante.ganador_segunda_fase %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="py-3 px-6 text-left">
                        {% if participante.ganador_tercera_fase is None %}
                            No se ha sorteado
                        {% elif participante.ganador_tercera_fase %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>