# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore virtual environment directories
.venv
env
venv

# Ignore version control directories
.git
.gitignore

# Ignore node_modules
node_modules

# Ignore other unnecessary files
.DS_Store