{% extends "base.html" %}

{% block content %}
<div class="container mx-auto py-8 w-2/3">
    <div class="flex justify-center">
        <h1 class="text-5xl font-bold p-2 mb-6 osasuna-camisetas-font text-left">Notas de desarrollo</h1>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <ul class="list-disc list-inside space-y-4 text-lg text-gray-700">
            <li class="p-2 bg-gray-100 rounded-md">
                <span class="font-semibold">Punto 1:</span>
            </li>
            <li class="p-2 bg-gray-100 rounded-md">
                <span class="font-semibold">Punto 2:</span>
            </li>
            <li class="p-2 bg-gray-100 rounded-md">
                <span class="font-semibold">Punto 3:</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}