{% extends "base.html" %}

{% block content %}
<div class="container mx-auto py-8 w-2/3">
    <div class="flex justify-center">
        <h1 class="text-3xl rounded bg-gray-400 border border-gray-700 text-center font-bold p-2 mb-6 inline-block">Notas de desarrollo</h1>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-semibold mb-4">Sección de ayuda</h2>
        <ul class="list-disc list-inside space-y-4">
            <li class="text-gray-700">
                <span class="font-bold">Notas:</span> Esta sección puede contener información de la herramienta, instrucciones más detalladas, links o cualquier información relevante.  
            </li>
            <li class="text-gray-700">
                <span class="font-bold">Fase preliminar:</span> Esta sección está en un estado más preliminar que el resto pero también será adaptada para seguir el diseño y calidad del resto de las secciones de la herramienta.
            </li>
        </ul>
    </div>
</div>
{% endblock %}