{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'escudo.png' %}">
    <title>Sorteo Osasuna</title>
</head>
<body class="bg-gray-100">
    <div class="my-16">
        {% include 'navbar.html' %}
    </div>
    {% if messages %}
        <div class="flex items-center justify-center my-4">
            {% include 'messages.html' %}
        </div>
    {% endif %}
    <main class="flex items-center justify-center py-12">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="p-4 mt-8">
        <div class="container mx-auto text-center">
            <!-- <p class="text-gray-600">&copy; 2024 Sorteo Osasuna. Todos los derechos reservados.</p> -->
        </div>
    </footer>
</body>
</html>
