{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'escudo.png' %}">
    <title>Sorteo Osasuna</title>
</head>
<body class="bg-white">
    <div class="flex">
        <!-- Navbar -->
        <div class="fixed top-0 left-0 h-full">
            {% include 'navbar.html' %}
        </div>
        <!-- Main Content -->
        <div class="flex-1 p-8 ml-64">
            {% if messages %}
                <div class="flex items-center justify-center my-4">
                    {% include 'messages.html' %}
                </div>
            {% endif %}
            <main class="py-12">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>