{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
    <title>Sorteo Osasuna</title>
</head>
<body class="bg-gray-100">
    <header class="p-4">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl">Sorteo Osasuna</h1>
        </div>
    </header>
    <main class="flex items-center justify-center py-6">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="p-4 mt-8">
        <div class="container mx-auto text-center">
            <p class="text-gray-600">&copy; 2023 Sorteo Osasuna. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
