{% extends "base.html" %}

{% block content %}
    {% if total_participantes == 0 %}
        {% include 'secciones/aviso.html' with titulo='Los millares no están disponibles todavía' texto='Para generar los millares de participantes en los que se divide el sorteo, sube el archivo CSV en formato adecuado desde la pantalla de inicio. Después, procésalo siguiendo las instrucciones y podrás ver los millares de los participantes en esta sección.' %}
    {% else %}
        {% include 'secciones/contenido_millares.html' %}
    {% endif %}
{% endblock %}