{% load static %}

<nav class="flex select-none items-center justify-between p-6 relative">
    <!-- Left Section -->
    <div class="flex items-center space-x-4 bg-rojoosasuna border-b-2 border-amarilloosasuna p-4" style="flex: 1; margin-left: 20%;">
        <ul class="flex space-x-4">
            <li><a href="{% url 'main_app:index' %}" class="text-white text-lg px-4 py-2 hover:bg-red-600 rounded">Inicio</a></li>
            <li><span class="text-white">|</span></li>
            <li><a href="{% url 'main_app:participantes' %}" class="text-white text-lg px-4 py-2 hover:bg-red-600 rounded">Participantes</a></li>
            <li><span class="text-white">|</span></li>
            <li><a href="{% url 'main_app:millares' %}" class="text-white text-lg px-4 py-2 hover:bg-red-600 rounded">Millares</a></li>
        </ul>
    </div>
    
    <!-- Center Image -->
    <div class="absolute left-1/2 transform -translate-x-1/2">
        <img src="{% static 'escudo.png' %}" alt="Logo" class="h-48 w-48">
    </div>
    
    <!-- Right Section -->
    <div class="flex items-center space-x-4 bg-azulosasuna border-b-2 border-amarilloosasuna p-4" style="flex: 1; justify-content: flex-end; margin-right: 20%;">
        <ul class="flex space-x-4">
            <li><a href="{% url 'admin:index' %}" class="text-white text-lg px-4 py-2 hover:bg-blue-600 rounded">Admin</a></li>
            <li><span class="text-white">|</span></li>
            <li><a href="{% url 'main_app:herramientas' %}" class="text-white text-lg px-4 py-2 hover:bg-blue-600 rounded">Herramientas</a></li>
            <li><span class="text-white">|</span></li>
            <li><a href="{% url 'main_app:ayuda' %}" class="text-white text-lg px-4 py-2 hover:bg-blue-600 rounded">Ayuda</a></li>
        </ul>
    </div>
</nav>