{% load static %}
<div class="bg-rojoosasuna text-white w-64 h-full pl-8 p-4 osasuna-camisetas-font">
    <img src="{% static 'logo.png' %}" alt="Logo" class="my-16">
    <nav class="space-y-4">
        <a href="{% url 'main_app:index' %}" class="block text-xl text-gray-300 hover:text-white transform hover:scale-105 transition-transform duration-200">Carga de datos</a>
        <hr class="border-gray-500 w-3/4 mx-auto">
        <a href="{% url 'main_app:resumen_de_datos' %}" class="block text-xl text-gray-300 hover:text-white transform hover:scale-105 transition-transform duration-200">Resumen de datos</a>
        <hr class="border-gray-500 w-3/4 mx-auto">
        <a href="{% url 'main_app:participantes' %}" class="block text-xl text-gray-300 hover:text-white transform hover:scale-105 transition-transform duration-200">Participantes</a>
        <hr class="border-gray-500 w-3/4 mx-auto">
        <a href="{% url 'main_app:millares' %}" class="block text-xl text-gray-300 hover:text-white transform hover:scale-105 transition-transform duration-200">Millares</a>
        <hr class="border-gray-500 w-3/4 mx-auto">
        <a href="{% url 'main_app:ver_sorteo' %}" class="block text-xl text-gray-300 hover:text-white transform hover:scale-105 transition-transform duration-200">Sorteo</a>
        <hr class="border-gray-500 w-3/4 mx-auto">
        <a href="{% url 'admin:index' %}" class="block text-xl text-gray-300 hover:text-white transform hover:scale-105 transition-transform duration-200">Admin</a>
        <hr class="border-gray-500 w-3/4 mx-auto">
        <a href="{% url 'main_app:herramientas' %}" class="block text-xl text-gray-300 hover:text-white transform hover:scale-105 transition-transform duration-200">Herramientas</a>
        <hr class="border-gray-500 w-3/4 mx-auto">
        <a href="{% url 'main_app:ayuda' %}" class="block text-xl text-gray-300 hover:text-white transform hover:scale-105 transition-transform duration-200">Ayuda</a>
    </nav>
</div>